.log-content {
    height: calc(100vh - 200px);
    overflow-y: auto;
    margin: 10px 0 10px 0;
    font-size: 10pt;
}
.log-input-container {
    display: flex;
}
.log-input {
    width: 100%;
}
.timestamp {
    font-family: monospace;
}