<div style="display: flex; justify-content: space-between;">
    <h3>Log</h3>
    <div>
        <button class="btn btn-outline-danger btn-sm" (click)="dataService.data.log.clear()">Clear</button>
    </div>
</div>
<div class="log-content">
    <div *ngFor="let logEntry of dataService.data.log.getData()" [title]="logEntry.hint">
        <span class="timestamp">{{logEntry.timestamp | date:'YY-MM-dd HH:mm:ss'}}</span>
        &nbsp;
        {{logEntry.value}}
    </div>
</div>
<div>
    <div style="display: flex; justify-content: space-between;">
        <button class="btn btn-outline-secondary btn-sm" (click)="rollDice('/roll 1d4')">d4</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="rollDice('/roll 1d6')">d6</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="rollDice('/roll 1d8')">d8</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="rollDice('/roll 1d10')">d10</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="rollDice('/roll 1d12')">d12</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="rollDice('/roll 1d20')">d20</button>
        <button class="btn btn-outline-secondary btn-sm" (click)="rollDice('/roll 1d100')">d100</button>
    </div>
    <br>
    <div class="log-input-container">
        <input type="text" class="form-control log-input" (keyup.enter)="log()" [(ngModel)]="customLog">
        &nbsp;
        <button class="btn btn-primary" (click)="log()">Log</button>
    </div>
</div>