<div class="section">
    <h5 style="text-align: center;">Meaning Tables</h5>
    <div class="flex">
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
            <button class="btn btn-outline-secondary btn-sm" (click)="descriptor1()">Adverb</button>
            <button class="btn btn-outline-secondary btn-sm" (click)="action1()">Verb</button>
            <button class="btn btn-outline-primary btn-sm" (click)="descriptor1plus2()">Adverb + Verb</button>
        </div>
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
            <button class="btn btn-outline-secondary btn-sm" (click)="descriptor2()">Adjective</button>
            <button class="btn btn-outline-secondary btn-sm" (click)="action2()">Noun</button>
            <button class="btn btn-outline-primary btn-sm" (click)="action1plus2()">Adjective + Noun</button>
        </div>
    </div>
</div>