<div class="section">
    <h5 style="text-align: center;">Fate Check</h5>
    <div>
        <div class="buttons">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check btn-sm" name="favors" value="yes" [(ngModel)]="favors" id="favorsYes" checked>
                <label class="btn btn-outline-success btn-sm" for="favorsYes">Yes Favors</label>

                <input type="radio" class="btn-check btn-sm" name="favors" value="no" [(ngModel)]="favors" id="favorsNo">
                <label class="btn btn-outline-danger btn-sm" for="favorsNo">No Favors</label>
            </div>
        </div>
        <div class="buttons">
            <button class="btn btn-outline-primary btn-sm" (click)="fateCheck()">50/50 or unsure</button>
            <div class="button-groups">
                <div class="buttons">
                    <button class="btn btn-outline-primary btn-sm" (click)="fateCheck(2)">Likely</button>
                    <button class="btn btn-outline-primary btn-sm" (click)="fateCheck(4)">Very likely</button>
                    <button class="btn btn-outline-primary btn-sm" (click)="fateCheck(6)">Sure thing</button>
                    <button class="btn btn-outline-primary btn-sm" (click)="fateCheck(8)">Has to be</button>
                </div>
                <div class="buttons">
                    <button class="btn btn-outline-primary btn-sm" (click)="fateCheck(-2)">Unlikely</button>
                    <button class="btn btn-outline-primary btn-sm" (click)="fateCheck(-4)">Very unlikely</button>
                    <button class="btn btn-outline-primary btn-sm" (click)="fateCheck(-6)">No way</button>
                    <button class="btn btn-outline-primary btn-sm" (click)="fateCheck(-8)">Impossible</button>
                </div>
            </div>
        </div>
    </div>
</div>