<div class="flex">
    <div>
        <!-- <app-chaos-factor></app-chaos-factor> -->
        <!-- <app-fate-check></app-fate-check> -->
    </div>
    <div>
        <!-- <app-detail-check></app-detail-check> -->
        <!-- <app-event-check></app-event-check> -->
    </div>
    <!-- <app-behavior-check></app-behavior-check> -->
    <!-- <app-meaning-tables></app-meaning-tables> -->
</div>
<!-- <div class="flex">
    <fieldset>
        <legend><b>Lists</b></legend>
        <div class="flex">
            <fieldset>
                <legend>PCs</legend>
                <app-list
                    [title]="'PCs'"
                    [items]="dataService.data.mythic.pcs"
                    (onItemsChanged)="dataService.data.mythic.pcs = $event"
                ></app-list>
            </fieldset>
            <fieldset>
                <legend>Threads</legend>
                <app-list
                    [title]="'Threads'"
                    [items]="dataService.data.mythic.threads"
                    (onItemsChanged)="dataService.data.mythic.threads = $event"
                ></app-list>
            </fieldset>
            <fieldset>
                <legend>NPCs</legend>
                <app-list
                    [title]="'List'"
                    [items]="dataService.data.mythic.npcs"
                    (onItemsChanged)="npcsChanged($event)"
                ></app-list>
            </fieldset>
        </div>
    </fieldset>
</div> -->