<div class="mythic-container">
    <div style="min-width: 275px;">
        <app-chaos-factor></app-chaos-factor>
        <app-fate-check></app-fate-check>
        <app-detail-check></app-detail-check>
        <app-event-check></app-event-check>
    </div>
    <div>
        <app-list
            [title]="'PCs'"
            [items]="dataService.data.mythic.pcs"
            (onItemsChanged)="dataService.data.mythic.pcs = $event"
        ></app-list>
        <app-list
            [title]="'NPCs'"
            [items]="dataService.data.mythic.npcs"
            (onItemsChanged)="npcsChanged($event)"
        ></app-list>
        <app-list
            [title]="'Threads'"
            [items]="dataService.data.mythic.threads"
            (onItemsChanged)="dataService.data.mythic.threads = $event"
        ></app-list>
    </div>
    <div>
        <app-meaning-tables></app-meaning-tables>
    </div>
    <div>
        <app-behavior-check></app-behavior-check>
    </div>
</div>