<div class="section">
  <h5 style="text-align: center;">{{ title }}</h5>
  <div style="display: grid; grid-template-columns: 1fr 1fr 1fr;">
    <button class="btn btn-outline-success btn-sm" (click)="addItem()">Add</button>
    <button class="btn btn-outline-secondary btn-sm" (click)="renameItems()">Rename</button>
    <button class="btn btn-outline-danger btn-sm" (click)="removeItems()">Delete</button>
  </div>
  <select multiple size="6" class="items" [(ngModel)]="selectedItemIds" (change)="ngModelChange()">
    <option *ngFor="let item of items; let selectedItemIndex = index;" [value]="item.id">{{item.name}}</option>
  </select>
  <button class="btn btn-outline-primary btn-sm" (click)="roll()">Roll</button>
</div>