<fieldset style="display: flex; flex-direction: column;">
  <legend>{{title}}</legend>
  <div>
    <button (click)="addItem()">Add</button>
    <button (click)="renameItems()">Rename</button>
    <button (click)="removeItems()">Delete</button>
  </div>
  <select multiple size="6" class="items" [(ngModel)]="selectedItemsIndexes">
    <option *ngFor="let item of items; let selectedItemIndex = index;" [value]="selectedItemIndex">{{item}}</option>
  </select>
  <button (click)="roll()">Roll</button>
</fieldset>