<div class="section">
    <h5 style="text-align: center;">Event Check</h5>
    <div class="flex">
        <button class="btn btn-outline-primary btn-sm" (click)="eventCheckStandard()">Standard</button>
        <button class="btn btn-outline-primary btn-sm" (click)="eventCheckHorror()">Horror</button>
        <button class="btn btn-outline-primary btn-sm" (click)="eventCheckActionAdventure()">Action Adventure</button>
        <button class="btn btn-outline-primary btn-sm" (click)="eventCheckMystery()">Mystery</button>
        <button class="btn btn-outline-primary btn-sm" (click)="eventCheckSocial()">Social</button>
        <button class="btn btn-outline-primary btn-sm" (click)="eventCheckPersonal()">Personal</button>
        <button class="btn btn-outline-primary btn-sm" (click)="eventCheckEpic()">Epic</button>
    </div>
</div>