<fieldset>
    <legend><b>Event Check</b></legend>
    <div class="flex">
        <button (click)="eventCheckStandard()">Standard</button>
        <button (click)="eventCheckHorror()">Horror</button>
        <button (click)="eventCheckActionAdventure()">Action Adventure</button>
        <button (click)="eventCheckMystery()">Mystery</button>
        <button (click)="eventCheckSocial()">Social</button>
        <button (click)="eventCheckPersonal()">Personal</button>
        <button (click)="eventCheckEpic()">Epic</button>
    </div>
</fieldset>