.main-container {
    margin: 20px;
    display: flex;
}
.actions {
    display: flex;
    overflow: auto;
}
.log {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid lightgray;
}