button {
    margin: 2px 2px 2px 2px;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.container {
    height: calc(100vh - 20px);
    display: flex;
    .actions {
        overflow: auto;
        padding: 20px;
        .mythic-buttons-container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .favors-container {
            display: flex;
            flex-direction: column;
            margin: auto;
            justify-content: center;
        }
        .descriptor-action-container {
            width: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr;
        }
    }
}