.main-container {
  margin: 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
}
.actions {
  display: flex;
  overflow: auto;
}
.log {
  padding-left: 20px;
  border-left: 1px solid lightgray;
  position: relative;
  top: -40px;
}
