<fieldset>
    <legend>NPCs</legend>
    <div style="display: flex;">
        <app-list
            [title]="'List'"
            [items]="dataService.data.mythic.npcs"
            (onItemsChanged)="npcsChanged($event)"
            (onSelectedItemChanged)="selectedItemChanged($event)"
        ></app-list>
        &nbsp;
        <div *ngIf="selectedItem" class="descriptors">
            <div class="descriptor">
                <input
                    type="checkbox"
                    title="Active"
                    id="identity_active"
                    [(ngModel)]="selectedItem.identity.active"
                    (change)="selectedItemUpdated()"
                >
                <label for="identity_active">Identity</label>
                <input
                    type="text"
                    id="identity"
                    [(ngModel)]="selectedItem.identity.value"
                    (change)="selectedItemUpdated()"
                    title="This Descriptor says who this person is, what role they fulfill, and how they are primarily seen by others. This is usually big picture stuff like “police officer” or “bartender,” and is usually apparent from the start."
                >
                <button (click)="rollIdentity()">Roll</button>
            </div>
            <div class="descriptor">
                <input
                    type="checkbox"
                    title="Active"
                    id="personality_active"
                    [(ngModel)]="selectedItem.personality.active"
                    (change)="selectedItemUpdated()"
                >
                <label for="personality_active">Personality</label>
                <input
                    type="text"
                    id="personality"
                    [(ngModel)]="selectedItem.personality.value"
                    (change)="selectedItemUpdated()"
                    title="This Descriptor gives the Character's most obvious personality trait. It could be anything from “Happy” to “Has anger management issues” to whatever you like. This should be fairly general and is used to summarize the NPC's personality overall. It doesn't mean that the Character is always exhibiting this personality, just that their personality tends to revert to this trait as a default."
                >
                <button (click)="rollPersonality()">Roll</button>
            </div>
            <div class="descriptor">
                <input
                    type="checkbox"
                    title="Active"
                    id="activity_active"
                    [(ngModel)]="selectedItem.activity.active"
                    (change)="selectedItemUpdated()"
                >
                <label for="activity_active">Activity</label>
                <input
                    type="text"
                    id="activity"
                    [(ngModel)]="selectedItem.activity.value"
                    (change)="selectedItemUpdated()"
                    title="This Descriptor indicates how this Character approaches most problems or how they go about most activities. This is similar to the Personality Trait, but it is focused on action instead of manner. This trait does not have to coincide with Personality."
                >
                <button (click)="rollActivity()">Roll</button>
            </div>
            <div class="descriptor">
                <div></div>
                <label for="disposition">Disposition</label>
                <div>
                    <input type="text" disabled id="disposition" [(ngModel)]="disposition">
                </div>
                <button (click)="rollDisposition()">Roll</button>
            </div>
            <br>
            <div style="display: flex; justify-content: space-evenly;">
                <button (click)="behaviorCheck()">Behavior Check</button>
            </div>
        </div>
    </div>
</fieldset>
