<fieldset>
  <legend><h3>Dice</h3></legend>
  <div>
    <button (click)="rollDice('1d4')">d4</button>
    <button (click)="rollDice('1d6')">d6</button>
    <button (click)="rollDice('1d8')">d8</button>
    <button (click)="rollDice('1d10')">d10</button>
    <button (click)="rollDice('1d12')">d12</button>
    <button (click)="rollDice('1d20')">d20</button>
    <button (click)="rollDice('1d100')">d100</button>
  </div>
  <div>
    <input (keyup.enter)="rollDice(customDiceFormula)" type="text" [(ngModel)]="customDiceFormula" />
    <button (click)="rollDice(customDiceFormula)">Roll</button>
  </div>
</fieldset>