<fieldset>
  <legend>{{title}}</legend>
  <div>
    <button>Add</button>
    <button>Rename</button>
    <button>Delete</button>
  </div>
  <select multiple>
    <option>Lorem Ipsum</option>
    <option>Dolor Sit Amet</option>
    <option>Sectetur Adipisicing Elit</option>
    <option>Esse Perferendis</option>
    <option>Foo</option>
    <option>Bar</option>
  </select>
</fieldset>

<!-- <button title="Remove from list" (click)="removeFromList(list.name)">-</button>
    <button title="Add to list" (click)="addToList(list.name)">+</button>
    <button (click)="rollList(list.name)">{{ list.name }}</button>
    <button title="Remove list" (click)="removeList(list.name)">x</button> -->
<!-- <button (click)="addList()">+</button> -->