<div class="section" style="display: flex; flex-direction: column;">
    <h5 style="text-align: center;">NPC Interaction Emulator</h5>
    
    <label>NPC Relationship:</label>
    <div style="display: grid; grid-template-columns: 3fr 1fr;">
        <select [(ngModel)]="relationship">
            <option *ngFor="let relationship of npcRelationship.rows" [value]="relationship.value">
                {{relationship.value}}
            </option>
        </select>
        <button class="btn btn-outline-success btn-sm" (click)="rollRelationship()">Roll</button>
    </div>
    <button class="btn btn-outline-primary btn-sm" (click)="rollConversationMood()">Generate Conversation Mood</button>
    <br>
    <label>NPC Bearing:</label>
    <div style="display: grid; grid-template-columns: 3fr 1fr;">
        <select [(ngModel)]="bearing">
            <option *ngFor="let bearing of npcBearing.rows" [value]="bearing.value">
                {{bearing.value}}
            </option>
        </select>
        <button class="btn btn-outline-success btn-sm" (click)="rollBearing()">Roll</button>
    </div>
    <button class="btn btn-outline-primary btn-sm" (click)="rollInteraction()">Generate Interaction</button>
</div>