.descriptors {
    display: flex;
    flex-direction: column;
}
.descriptor {
    display: grid;
    grid-template-columns: auto 1fr auto auto auto auto auto auto;
    align-items: center;

    label {
        font-size: 10pt;
    }
}
.disposition {
    width: 30px;
    margin-left: 1px;
}
.modifier {
    display: flex;
}