<fieldset class="descriptors">
    <legend><b>Behavior Check</b></legend>
    
    <!-- NPC select -->
    <div style="display: flex;">
        <select [(ngModel)]="selectedNpcId" (ngModelChange)="selectedNpcChanged($event)" style="width: 100%;">
            <option *ngFor="let npc of dataService.data.mythic.npcs" value="{{npc.id}}">{{npc.name}}</option>
        </select>
        <button (click)="reset()">Reset</button>
    </div>
    <br>
    
    <!-- Descriptors -->
    <app-descriptor
        [name]="'Identity 1'"
        [descriptor]="this.selectedNpc.identity1"
        (onDescriptorUpdated)="descriptorUpdated('identity1', $event)"
        (onDescriptorRolled)="rollDescriptor('identity1')"
    ></app-descriptor>
    <app-descriptor
        [name]="'Identity 2'"
        [descriptor]="this.selectedNpc.identity2"
        (onDescriptorUpdated)="descriptorUpdated('identity2', $event)"
        (onDescriptorRolled)="rollDescriptor('identity2')"
    ></app-descriptor>
    <br>
    <app-descriptor
        [name]="'Personality 1'"
        [descriptor]="this.selectedNpc.personality1"
        (onDescriptorUpdated)="descriptorUpdated('personality1', $event)"
        (onDescriptorRolled)="rollDescriptor('personality1')"
    ></app-descriptor>
    <app-descriptor
        [name]="'Personality 2'"
        [descriptor]="this.selectedNpc.personality2"
        (onDescriptorUpdated)="descriptorUpdated('personality2', $event)"
        (onDescriptorRolled)="rollDescriptor('personality2')"
    ></app-descriptor>
    <br>
    <app-descriptor
        [name]="'Activity 1'"
        [descriptor]="this.selectedNpc.activity1"
        (onDescriptorUpdated)="descriptorUpdated('activity1', $event)"
        (onDescriptorRolled)="rollDescriptor('activity1')"
    ></app-descriptor>
    <app-descriptor
        [name]="'Activity 2'"
        [descriptor]="this.selectedNpc.activity2"
        (onDescriptorUpdated)="descriptorUpdated('activity2', $event)"
        (onDescriptorRolled)="rollDescriptor('activity2')"
    ></app-descriptor>
    <br>
    
    <!-- Disposition & Action -->
    <div style="display: flex; justify-content: center;">
        <div style="display: flex; align-items: center;">
            <label for="disposition">Disposition</label>
            &nbsp;
            <div style="display: flex; flex-direction: column;">
                <button (click)="changeDisposition(2)">+2</button>
                <input
                    type="number"
                    min="-4"
                    max="26"
                    disabled
                    id="disposition"
                    style="width: 35px;"
                    [(ngModel)]="selectedNpc.disposition">
                <button (click)="changeDisposition(-2)">-2</button>
            </div>
            <button (click)="rollDisposition()">Roll</button>
            &nbsp;
            <label style="width: 125px;" [title]="dispositionDescriptorExplanation">= {{dispositionDescriptor}}</label>
            <button style="height: 40px;" (click)="npcAction()">NPC Action</button>
        </div>
    </div>
</fieldset>