<li class="list-group-item">
    <div style="display: grid; grid-template-columns: 1fr 8fr 2fr 8fr; align-items: center; column-gap: 15px;">
        
        <!-- Active -->
        <input
            type="checkbox"
            class="form-check-input me-1"
            title="Active"
            [id]="'active' + name.replace(' ', '')"
            [(ngModel)]="this.descriptor.active"
            (change)="npcUpdated()"
        >
        
        <!-- Value -->
        <input
            class="form-control log-input form-control-sm"
            type="text"
            id="identity"
            [(ngModel)]="descriptor.value"
            (change)="npcUpdated()"
            title="This Descriptor says who this person is, what role they fulfill, and how they are primarily seen by others. This is usually big picture stuff like “police officer” or “bartender,” and is usually apparent from the start."
        >
        
        <!-- Roll value -->
        <button class="btn btn-outline-success btn-sm" (click)="roll()">Roll</button>
        
        <!-- Modifiers -->
        <div class="modifier btn-group" title="Modifiers" role="group">
            <input
                class="btn-check btn-sm"
                type="radio"
                [name]="'lowers_' + name.replace(' ', '')"
                [id]="'lowers_' + name.replace(' ', '')"
                [(ngModel)]="descriptor.modifier"
                value="lowers"
                (change)="npcUpdated()">
            <label class="btn btn-outline-primary btn-sm" [for]="'lowers_' + name.replace(' ', '')">Lowers</label>
        
            <input
                class="btn-check btn-sm"
                type="radio"
                [name]="'neutral_' + name.replace(' ', '')"
                [id]="'neutral_' + name.replace(' ', '')"
                [(ngModel)]="descriptor.modifier"
                value="neutral"
                (change)="npcUpdated()">
            <label class="btn btn-outline-secondary btn-sm" [for]="'neutral_' + name.replace(' ', '')">Neutral</label>
        
            <input
                class="btn-check btn-sm"
                type="radio"
                [name]="'intensifies_' + name.replace(' ', '')"
                [id]="'intensifies_' + name.replace(' ', '')"
                [(ngModel)]="descriptor.modifier"
                value="intensifies"
                (change)="npcUpdated()">
            <label class="btn btn-outline-danger btn-sm" [for]="'intensifies_' + name.replace(' ', '')">Intensifies</label>
        </div>
    </div>
</li>