<div class="section">
    <h5 style="text-align: center;">Chaos factor</h5>
    <div class="buttons-container">
        <button class="btn btn-outline-secondary btn-sm" (click)="changeChaosFactor(-1)">-</button>
        &nbsp;&nbsp;
        <div style="display: flex; align-items: center;">
            <b>{{dataService.data.mythic.chaosFactor}}</b>
        </div>
        &nbsp;&nbsp;
        <button class="btn btn-outline-secondary btn-sm" (click)="changeChaosFactor(1)">+</button>
    </div>
    <div style="display: flex; justify-content: center; margin-top: 5px;">
        <button class="btn btn-outline-primary btn-sm" style="width: 85px;" (click)="roll()">Roll</button>
    </div>
</div>